In [17]:
import pandas as pd
import numpy as np

In [23]:
dem = pd.read_csv('data/patient_demographics_data.csv')

In [24]:
dem_mod = dem[['patientunitstayid', 'unitadmitsource', 'unitdischargeoffset', 'unitdischargelocation']]
display(dem_mod)

,patientunitstayid,unitadmitsource,unitdischargeoffset,unitdischargelocation
0,2896749,Emergency Department,10378,Floor
1,976143,Emergency Department,2273,Telemetry
2,1823818,Direct Admit,2552,Floor
3,2715079,Emergency Department,6003,Other External
4,1015921,Other Hospital,4907,Skilled Nursing Facility
...,...,...,...,...
9405,2263791,Direct Admit,7013,Acute Care/Floor
9406,174499,Emergency Department,2179,Floor
9407,1480007,Recovery Room,3659,Floor
9408,962326,Emergency Department,2050,Telemetry
9409,911218,Step-Down Unit (SDU),353,Death

In [25]:
dem_mod.unitdischargelocation.unique()

array(['Floor', 'Telemetry', 'Other External', 'Skilled Nursing Facility',
       'Step-Down Unit (SDU)', 'Home', 'Other ICU', 'Acute Care/Floor',
       'Death', 'Rehabilitation', 'Nursing Home', 'Other Hospital', nan,
       'ICU', 'Other', 'Other Internal', 'Operating Room',
       'Other ICU (CABG)'], dtype=object)

In [31]:
replace_dict = {'Home': 6, 'Skilled Nursing Facility': 5, 'Nursing Home': 5, 'Rehabilitation': 5,
               'Other External': 5, 'Floor': 4, 'Other Internal': 4, 'Step-Down Unit (SDU)': 3,
               'Other Hospital': 3, 'ICU': 2, 'Other ICU': 2, 'Other ICU (CABG)': 2, 'Acute Care/Floor': 2,
               'Telemetry': 1, 'Operating Room': 1, 'Death': 0, 'Other': np.nan}

dem_mod_replaced = dem_mod.copy()
dem_mod_replaced['unitdischargelocation'].replace(replace_dict, inplace=True)

In [32]:
display(dem_mod_replaced)

,patientunitstayid,unitadmitsource,unitdischargeoffset,unitdischargelocation
0,2896749,Emergency Department,10378,4.0
1,976143,Emergency Department,2273,1.0
2,1823818,Direct Admit,2552,4.0
3,2715079,Emergency Department,6003,5.0
4,1015921,Other Hospital,4907,5.0
...,...,...,...,...
9405,2263791,Direct Admit,7013,2.0
9406,174499,Emergency Department,2179,4.0
9407,1480007,Recovery Room,3659,4.0
9408,962326,Emergency Department,2050,1.0
9409,911218,Step-Down Unit (SDU),353,0.0

In [35]:
dem_mod_replaced['unitdischargelocation'].fillna(lambda x: x.mean(), inplace=True)